<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <title>{% block title %}DartsMap{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'darts/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'darts/images/favicon.ico' %}"
  </head>
  <body>
    <div id=wrap>
      <header>
        <li><a href="{% url 'darts:index' %}"><img src="{% static 'darts/images/favicon.ico' %}"></a></li>
        <li>About</li>
        <li>Contact</li>
      </header>
      <div id="content">{% block content %}{% endblock %}</div>
      <footer>
        {% block footer %}
        {% endblock %}
      </footer>
      <script type="text/javascript" src="{% static 'darts/js/init_map.js' %}"></script>
      <script async defer src='{{ map_src }}'></script>
      {% block mapscript %}{% endblock %}
    </div>
  </body>
</html>
