<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>DartsMap</title>
    <link rel="stylesheet" type="text/css" href="{% static 'darts/css/style.css' %}" />
    <link rel="shortcut icon" href="{% static 'darts/images/favicon.ico' %}"
  </head>
  <body>
    <header>
      <li><a href="{% url 'darts:index' %}"><img src="{% static 'darts/images/favicon.ico' %}"></a></li>
      <li>About</li>
      <li>Contact</li>
    </header>
    <div role="bg-img">
      <form action="{% url 'darts:from_url' %}" method="GET" id="src_url_form">
        <div class="div_center">
          {{ form }}
          <input type="submit" value="throw" id="btn_throw">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </form>
    </div>
  </body>
</html>
