html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrap {
  width: 100%;
  position: relative;
  height:auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
}

#content {
  padding-bottom: 60px;
}

footer {
  background-color: #444;   /* 背景色(黒) */
	width:100%;               /* 横の幅を100% */
	height: 60px;             /* 縦の幅を60px */
	bottom: 0;              /* 絶対位置指定(左0px,下0px) */
  color: white;
  clear: both;
}

footer li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  height: 20px;
  width: 80px;
  padding: 20px;
}

.div_center {
  text-align: center;
}

#src_url_text {
  width: 45%;
  height: 30px;
  border-radius: 10px;
}

:placeholder-shown {
  font-size: 15px;
  color: green;
}

input[type="text"]:focus {
  outline: 0;
}

#map_canvas {
  height: 600px;
  width: 720px;
  margin-right: 20px;
  }

 #map_fixed {
   position: fixed;
   top: 10px;
   right: 20px;
   bottom: 10px;
 }

 #result_from_url {
   float: left;
   width: 40%;
   margin: 20px;
   margin-left: 40px;
 }

 #result_from_url li {
 }
