html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ----------------------------------for index.html---------------------------------- */

div[role=bg-img] {
  height: 100%;
  background-image: url("/static/darts/images/main_img.jpeg");
  background-size: cover;
}

header {
  background-color: #444;   /* 背景色(黒) */
	width:100%;               /* 横の幅を100% */
	height: 50px;             /* 縦の幅を60px */
  color: white;
  clear: both;
}

header li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  height: 20px;
  width: 200px;
}

header li img {
  height: 30px;
  width: 30px;
}

.div_center {
  text-align: center;
}

#src_url_form {
  padding-top: 20px;
}

#id_url {
  width: 45%;
  height: 30px;
  border-radius: 10px;
}

:placeholder-shown {
  font-size: 15px;
  color: green;
}

input[type="url"]:focus {
  outline: 0;
}

/* make bullet point invisible */
.error {
  list-style-type: none;
  background-image:none;
  padding-left:0;
  color: red;
}
/* ---------------------------------------------------------------------------------- */

#wrap {
  width: 100%;
  position: relative;
  height:auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
}

#content {
  padding-bottom: 60px;
}

#map_canvas {
  height: 600px;
  width: 720px;
  margin-top: 50px;
  margin-right: 20px;
  }

 #map_fixed {
   position: fixed;
   top: 10px;
   right: 20px;
   bottom: 10px;
 }

 #result_from_url {
   float: left;
   width: 40%;
   margin: 20px;
   margin-left: 40px;
 }

 #result_from_url li {
 }
